---
import Navigation from "../components/Navigation.astro";
import Notification from "../components/Notification.astro";
import ProductCard from "../components/ProductCard.astro";
import Footer from "../components/Footer.astro";
import Accordion from "../components/Accordion.astro";
import Base from "../layouts/Base.astro";
import Image from "astro/components/Image.astro";

const products = [
  {
    title: "Tepelné čerpadlo 1",
    text: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas laudantium reiciendis molestias impedit! Facilis aperiam, inventore cupiditate error aliquid neque enim.",
    link: "https://google.com",
    image: "/nobus-jednotka.png"
  },
  {
    title: "Tepelné čerpadlo 2",
    text: "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam enim veniam, reiciendis asperiores cupiditate necessitatibus ipsa, eius doloremque officiis eum sint.",
    link: "https://google.com",
    image: "/nobus-jednotka.png"
  }
];

const reasons = [
	{
		title: "Reason 1",
		text: "Reason 1 texttttsadasdasd"
	},
	{
		title: "Reason 2",
		text: "Reason 1 ssdfdshgdfkokpdskpúsfjtexttttsadasdasd"
	}
]
---

<Base>
	<div class="px-14 text-white background-w-gradient">
		<Navigation />
		<header class="flex flex-col gap-8 py-3 h-[474px] justify-center items-center">
			<div class="flex flex-col gap-[10px] items-center font-black">
				<p>Jsme NOBUS</p>
				<h1 class="text-[56px] uppercase line leading-tight text-gradient">Na tuhle klimu<br>se spolehněte</h1>
			</div>
			<div class="flex flex-col gap-10 items-center">
				<p class="max-w-[444px] text-center">
					Nobus klimatizace přináší rychlé chlazení i vytápění, stylový design pro každý interiér a snadnou instalaci. Vysoká kvalita za dostupnou cenu, vždy skladem v ČR.
				</p>
				<div class="flex flex-row gap-5 font-semibold">
					<a href="" class="text-mediumBlue bg-white px-5 py-[10px] rounded-[3px]">Odebírejte nás</a>
					<a href="" class="text-white bg-buttonGradientDark px-5 py-[10px] rounded-[3px] relative">
						O produktech
					</a>
				</div>
			</div>
		</header>
	</div>

	<Notification text="Zaměřujeme se spíše na B2B trh, máte-li zájem o klimatizace či tepelná čerpadla NOBUS pro Váš domov, zkontaktujte B2C dodavatele." />

	<div class="flex flex-row w-[1040px] pt-20 pb-10 gap-10 mx-auto">
		{products.map((product) => (
			<ProductCard 
			  title={product.title}
			  text={product.text}
			  link={product.link}
			  image={product.image}
			/>
		  ))}
	</div>

	<div class="flex flex-col items-center w-[1040px] mb-10 mx-auto border border-darkLight p-[30px] gap-5 rounded-[3px] text-center bg-contactGradient">
		<Image src="/izabella.png" alt="Obchodní zástupkyně" height="146" width="188" class="border-b border-lightBlue"/>
		<div class="flex flex-col gap-[10px]">
			<h1 class="text-[44px] font-extrabold text-mediumBlue">Nechte si od nás poradit.<br>ZDARMA!</h1>
			<p class="max-w-[600px]">Máte jakýkoliv dotaz ohledně produktů? nejste si něčím jisti?<br>Zavolejte nám, nebo klidně napište mail, jsme připraveni Vám s čímkoliv kdykoliv poradit.</p>
		</div>
		<div class="flex gap-5 font-medium text-white">
			<a href="" class="flex flex-row bg-darkBlue px-5 py-[10px] rounded-[3px] gap-[10px] bg-buttonGradientBlue">
				<Image src="/mail.svg" alt="ikona mailu" height="16" width="16" />
				mailto@mailto.cz
			</a>
			<a href="" class="flex flex-row bg-darkBlue px-5 py-[10px] rounded-[3px] gap-[10px] bg-buttonGradientBlue">
				<Image src="/telefon.svg" alt="ikona telefonu" height="16" width="16" />
				+420 123 456 789
			</a>
		</div>
	</div>

	<div class="flex flex-col w-[1040px] pt-10 pb-20 mx-auto gap-5">
		<h2 class="font-extrabold text-[44px] text-mediumBlue">Proč zrovna Nobus?</h2>
		{reasons.map(
			(reason) => (
				<Accordion title={reason.title} text={reason.text} />
			)
		)}
	</div>

	<Notification text="Jste přímý zákazník/spotřebitel? Zaměřujeme se na velkoobchod, pro nabídku pro spotřebitele klikněte" />

	<Footer />
</Base>